
img.img-carousel
{
  width: 100%;
  height: 420px;

}


.navbar-dark .navbar-nav .nav-link
 {
	color: white;
}

.navbar-dark .navbar-nav .nav-link:hover
{
	font-weight: bold;
	color: #F0DD0A;
}

.bg-menu
{
	background: linear-gradient(180deg,#140B8D,#1572FD);
	opacity: 0.90;
}

.navbar-dark .navbar-toggler
{
	color: white;
}
.navbar-dark .navbar-toggler:hover
{

	border-color: white;
}

footer {
	background: linear-gradient(180deg,#140B8D,#1572FD);
	padding: 50px 0px 20px 0px;
	position: relative;
}

footer h4 {
	color: #FFF600;
	font-size: 0.9em;
	font-weight: bold;
	text-transform: uppercase;
}

footer .navbar-nav a {
	color: white;
	font-size: 0.8em;
}

footer .navbar-nav a:hover {
	color: #F0DD0A;
	/* text-decoration: none; */
}

footer ul {
	list-style: none;
}

footer ul li {
	float: right;
	margin: 0 5px;
}

footer a i
{
	color: white;
	text-decoration: none;
}

.slidesubmenu
{

	position: relative;
	/* left: 0px;
	top: 0px; */
	z-index: -1;

}